<%include ../partials/head.ejs%>
<div id="customers" >
        <div class="uk-align-center uk-margin-top uk-margin-left uk-column-1-3">
                <h1 >Customers</h1>
                <input class="search uk-text-large uk-search-input uk-margin-top " placeholder="Search" />
                <a href="/customers/new"><button class="uk-button-large  uk-button-primary">Register New Customer</button></a>
        </div>
        <ul class="list uk-child-width-1-4 " uk-grid >
            <%customers.forEach(function (customer) {%>
                <div class="uk-margin-top uk-align-center">
                        <a href="/customers/<%=customer._id%>">
                        <li>
                                <div class="uk-card uk-card-default uk-card-hover uk-margin-left uk-text-center">
                                        <div class="uk-card-title uk-card-header"> <p class="uk-align-left nationalId"><%=customer.nationalId%></p></div>
                                        <div class="uk-card-body"><%=customer.firstname%> <%=customer.lastname%></div>
                                        <div class="uk-card-footer">
                                            <%if(!customer.checkedOut){%>
                                                <a href="/customers/<%=customer._id%>/checkOut"><button class="uk-button-primary">Check Out</button> </a>
                                            <%}else{%>
                                                <a href="/customers/<%=customer._id%>/checkIn"><button class="uk-button-primary">Check In</button> </a>
                                            <%}%>
                                                <form action="/customers/<%=customer._id%>/?_method=DELETE" method="post">
                                                        <button type="submit" class="uk-button-default uk-button-danger"> Delete </button>
                                                </form>
                                        </div>
                                </div>
                        </li>
                        </a>
                </div>
            <%})%>
        </ul>
</div>
<script>
    var puzzleList = new List('customers', {
        valueNames: ['nationalId',"roomType"],
    });
</script>
